imageio
matplotlib
numpy
pandas
Pillow
psutil

customtkinter
tkcalendar

dipole @ git+https://github.com/klaundal/dipole.git
lompe @ git+https://github.com/klaundal/lompe.git
polplot @ git+https://github.com/klaundal/polplot.git
secsy @ git+https://github.com/klaundal/secsy.git


git+https://github.com/aburrell/apexpy.git