__pycache__/
*.pyc
.DS_Store

swarmdf.egg-info/

data/*
!data/
!data/README.md
!data/sample_datasets/
!data/sample_datasets/**

outputs/

SwarmDF_example_script.py
SwarmDF_script.py
SwarmDF_paper.py

correlation_plot.gif

*.nc
*.h5
*.cdf
.env

test_scripts/
