__pycache__/
*.pyc
.DS_Store

swarmdf.egg-info/

data/*
!data/
!data/sample_datasets/
!data/sample_datasets/**

outputs/

SwarmDF_python_code.py
SwarmDF_python_codeTEST.py
testlompeosse.py
SwarmDF_script.py
SwarmDF_paper.py
my_SwarmDF_demo.ipynb

# *.nc
# *.h5
*.cdf
.env

orbit/
lompe_data/
test_scripts
